In [1]:
# Tips from https://www.kaggle.com/colinmorris/learn-python-challenge-day-5
# Thank you https://www.kaggle.com/colinmorris :)

In [8]:
# Basically creating a list by specifying some rule for its construction
squares = [n**2 for n in range(10)]
print(squares)
# One can see the beauty of this by comparing it to less satisfactory methods below...

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
# At worst we could have done this
squares = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
# And more tediously we could have done this
squares = []
for n in range(10):
    squares.append(n**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
# You can do some nice fancy footwork - let's get an arbitrary list of integers
my_list = [5, -1, -2, 0, 3]

In [24]:
# I can easily find the negative numbers now - without a loop!
len([num for num in my_list if num < 0])

2

In [26]:
# There are a couple of options...
sum([num < 0 for num in my_list])

2

In [27]:
# Some more examples
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune", "Pluto"]

In [28]:
# Notice how you can write it quite nice and readably
[
    planet.upper() + '!' 
    for planet in planets 
    if len(planet) < 6
]

['VENUS!', 'EARTH!', 'MARS!', 'PLUTO!']