# How it works - Pandas, data selection

In [1]:
import pandas as pd

In [2]:
list1 = ["Jane", "John", "June", "Jim", "Jay"]
list2 = ["Ford", "BMW", "Mini", "Mercedes", "Toyota"]
list3 = ["Blue", "Grey", "Red", "White", "White"]
list4 = ["1.6l", "2.0l", "1.6l", "2.2l", "1.2l"]
df = pd.DataFrame({"Make":list2, "Color":list3, "Capacity":list4}, 
                  index = list1)

In [3]:
df

          Make  Color Capacity
Jane      Ford   Blue     1.6l
John       BMW   Grey     2.0l
June      Mini    Red     1.6l
Jim   Mercedes  White     2.2l
Jay     Toyota  White     1.2l

## Selection by column

In [4]:
df["Capacity"] # Selection of the SERIES by the column name (note the single bracket)

Jane    1.6l
John    2.0l
June    1.6l
Jim     2.2l
Jay     1.2l
Name: Capacity, dtype: object

In [5]:
df[["Capacity"]] # Selection of the DATAFRAME by column name (note the double bracket)

     Capacity
Jane     1.6l
John     2.0l
June     1.6l
Jim      2.2l
Jay      1.2l

In [6]:
df[["Color", "Capacity"]] # Selection by multiple column names (note the new listed order)

      Color Capacity
Jane   Blue     1.6l
John   Grey     2.0l
June    Red     1.6l
Jim   White     2.2l
Jay   White     1.2l

In [7]:
df.loc[:,["Color", "Capacity"]] # Selection by column names using the .loc method (columns is the 2nd argument)

      Color Capacity
Jane   Blue     1.6l
John   Grey     2.0l
June    Red     1.6l
Jim   White     2.2l
Jay   White     1.2l

In [8]:
df.iloc[:,[1, 0]] # Selection by column indices using the .iloc method (columns is the 2nd argument)

      Color      Make
Jane   Blue      Ford
John   Grey       BMW
June    Red      Mini
Jim   White  Mercedes
Jay   White    Toyota

## Selection by row

In [9]:
df.loc[["Jane", "June"],:] # Selection by row names using the .loc method (rows is the 1st argument)

      Make Color Capacity
Jane  Ford  Blue     1.6l
June  Mini   Red     1.6l

In [10]:
df.iloc[[0,2],:] # Selection by row indices using the .iloc method (rows is the 1st argument)

      Make Color Capacity
Jane  Ford  Blue     1.6l
June  Mini   Red     1.6l

## Selection by row and column

In [11]:
df.loc[["Jane", "June"],["Capacity", "Make"]] # Selection using the .loc method would be preferred!

     Capacity  Make
Jane     1.6l  Ford
June     1.6l  Mini

In [12]:
df.iloc[[0,1],[0,2]] # Selection using the .iloc method would be preferred!

      Make Capacity
Jane  Ford     1.6l
John   BMW     2.0l

## Selection by filter

In [13]:
df[df["Color"] == "White"] # Notice that we essentially filter on a series and then apply the result to the df
                           # df["Color] is the series
                           # we look for values == "White" in that series
                           # apply the result to the df
                           # When in doubt... build the code from the inside out!

         Make  Color Capacity
Jim  Mercedes  White     2.2l
Jay    Toyota  White     1.2l

In [14]:
df[(df["Color"] == "White") | (df["Color"] == "Blue")] # One can apply this technique with boolean operators too

          Make  Color Capacity
Jane      Ford   Blue     1.6l
Jim   Mercedes  White     2.2l
Jay     Toyota  White     1.2l

## Selection by mask
This mechanism will be quite handy for re-usability

In [15]:
mask = df["Color"] == "White"

In [16]:
df[mask]

         Make  Color Capacity
Jim  Mercedes  White     2.2l
Jay    Toyota  White     1.2l

## Selection using the .isin() method
This is pretty handy where you have larger lists of values that you want to check for

In [17]:
required_vals = ["White", "Blue", "Red"] # Make a list of all the values you want included
df[df["Color"].isin(required_vals)]      # Use this list as a filter with the .isin() method

          Make  Color Capacity
Jane      Ford   Blue     1.6l
June      Mini    Red     1.6l
Jim   Mercedes  White     2.2l
Jay     Toyota  White     1.2l

In [18]:
df[~df["Color"].isin(required_vals)]   # Use the handy ~ notation to change it to "isnotin"!

     Make Color Capacity
John  BMW  Grey     2.0l

In [25]:
df[df.Color.str.contains("te")]

         Make  Color Capacity
Jim  Mercedes  White     2.2l
Jay    Toyota  White     1.2l