In [1]:
import pandas as pd

In [2]:
mothers = ["Evelyn", "Eve", "Eugenia", "Elizabeth"]
daughters = ["Jenny", "Joan", "June", "Julia"]

In [3]:
kids1 = ["Jenny", "Jenny", "Joan", "June", "Julia", "Julia", "Julia"]
kids2 = ["Freddy", "Johnny", "Michael", "Robin", "Nadia", "Freddy", "Mark"]

In [5]:
senior = pd.DataFrame(data = {"Grandmothers": mothers, "Mothers": daughters})

In [16]:
junior = pd.DataFrame(data = {"Mothers": kids1, "Children": kids2})
junior = junior[["Mothers", "Children"]]

In [17]:
senior

  Grandmothers Mothers
0       Evelyn   Jenny
1          Eve    Joan
2      Eugenia    June
3    Elizabeth   Julia

In [18]:
junior

  Mothers Children
0   Jenny   Freddy
1   Jenny   Johnny
2    Joan  Michael
3    June    Robin
4   Julia    Nadia
5   Julia   Freddy
6   Julia     Mark

In [19]:
master = pd.merge(senior, junior, how = "right")

In [21]:
master

  Grandmothers Mothers Children
0       Evelyn   Jenny   Freddy
1       Evelyn   Jenny   Johnny
2          Eve    Joan  Michael
3      Eugenia    June    Robin
4    Elizabeth   Julia    Nadia
5    Elizabeth   Julia   Freddy
6    Elizabeth   Julia     Mark